h3 
{
    padding-top: 5%;
     text-align: center;
     padding-bottom: 5%;
 
}

h4
{
   padding-left: 10%;
   padding-bottom: 2%;
}

h5 
{
    padding-left: 30%;
    padding-bottom: 2%;
}

h6 
{
    padding-left: 60%;
    padding-bottom: 2%;
}