.link {
  text-decoration: none;
}

.menuButton {
  color: black;
}

.grow {
  flex-grow: 1;
}

.appBarPosition {
  position: relative;
  background: white
}

.toolbar {
  justify-content: space-between;
  min-height: 4rem;
}

.flexDisplay {
  display: flex;
  align-items: center;
}

.buttonColor {
  color: black;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  margin-left: 2rem;
}

.logoContainer > img 
{
  max-height: 4.5rem;
}