.select{
    justify-content: center;

}
.bg{
    background-image: url(/src/Images/planee.png);
    width: 800px;
    height: 800px;
    background-size: cover;
}

img {
  height: 40rem;
  object-fit: cover;
}

.carousel {
  position: relative;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}